<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_LEVEL" value="${MANGO_LOG_LEVEL:-info}"/>
    <property name="LOG_PATH" value="${MANGO_LOG_PATH:-logs}"/>
    <property name="LOG_FILE" value="${MANGO_MEGA_SERVICE_LOG:-mangoim-chat-service}"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight(%d{yyyy-MM-dd HH:mm:ss.SSS}) %clr(%-5level) [%thread] %clr(%logger{36}){cyan}: %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/archive/${LOG_FILE}/${LOG_FILE}.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/archive/${LOG_FILE}/${LOG_FILE}.audit.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>Log time: %d{yyyy-MM-dd}T%d{HH:mm:ss.SSS} %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.mangoim.chat.service" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.mangoim.chat.service.audit" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="AUDIT"/>
    </logger>
</configuration>
